#footer_link {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  /* padding: 54px 0 0 0px; */
}

.footer {
  display: flex;
  padding: 90px;
}

.Footer_info {
  color: rgb(66, 65, 65);
  font-family: "Times New Roman", Times, serif;
  width: 400px;
  margin: 0px 25px 51px 0px;
  text-align: justify;
}

p1,
l1,
l2,
l3 {
  color: #101314;
  font-size: larger;
  font: bolder;
}

.footer_links1 li,
.footer_links2 li,
.footer_links3 li {
  color: #033658;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
}

#footer {
  display: flex;
  background: #f8b043;
  padding: 80px 19px 35px 19px;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* .Footer_info p1 ,p2,p3 {color: teal;line-height: 30px;} */
p2,
p3 {
  width: 400px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #033658;
}

.footer_links1 li:hover,
.footer_links2 li:hover,
.footer_links3 li:hover {
  color: rgb(233, 240, 221);
}

.footer_links3 button {
  background-color: #ffbd59;
  border: 1px solid black;
  border-radius: 123px;
  padding: 3px 20px;
}